## Copyright (C) 2012 - 2025 ENCRYPTED SUPPORT LLC <adrelanos@kicksecure.com>
## See the file COPYING for copying conditions.

Source: vm-config-dist
Section: misc
Priority: optional
Maintainer: Patrick Schleizer <adrelanos@kicksecure.com>
Build-Depends: debhelper (>= 13.11.6), debhelper-compat (= 13), config-package-dev
Homepage: https://github.com/Kicksecure/vm-config-dist
Vcs-Browser: https://github.com/Kicksecure/vm-config-dist
Vcs-Git: https://github.com/Kicksecure/vm-config-dist.git
Standards-Version: 4.7.2
Rules-Requires-Root: no

Package: vm-config-dist
Architecture: all
Depends: adduser, 7zip, helper-scripts, python3,
 python3-pyudev, python3-schema, ${misc:Depends}
Replaces: power-savings-disable-in-vms, shared-folder-help
Description: usability enhancements inside virtual machines
 Sets environment variable `QMLSCENE_DEVICE=softwarecontext` as a workaround
 for "Automatic fallback to softwarecontext renderer".
 .
 It is not useful to open a screensaver or to power down the desktop for
 operating systems that are run inside VMs. There is no real display that could
 be saved and no real power that could be conserved. From a usability
 perspective, it is also counterintuitive when looking at the VM window and
 only seeing a black screen. Therefore, it makes sense to disable power savings
 in VMs.
 `/etc/profile.d/20_power_savings_disable_in_vms.sh`
 `/etc/X11/Xsession.d/20_software_rendering_in_vms.sh`
 .
 Makes setting up a shared folder for virtual machines a bit easier.
 .
  * Creates a folder `/mnt/shared` with `chmod 777`, adds a group
 "vboxsf", and adds account "user" to group "vboxsf". Facilitates auto-mounting
 of shared folders.
 .
  * Helps using shared folders with VirtualBox and KVM a bit
 easier (as in requiring fewer manual steps from the user).
 .
  * `/lib/systemd/system/mnt-shared-vbox.service`
  * `/lib/systemd/system/mnt-shared-kvm.service`
 .
 Sets screen resolution to 1920x1080 by default for VMs in VirtualBox and KVM.
 This is a workaround for the low screen resolution of 1024x768 at first boot.
 .
 Installs VirtualBox guest additions if the package
 `virtualbox-guest-additions-iso` is installed, if the environment variable
 `dist_build_virtualbox=true` is set, or if running inside VirtualBox.
 (`systemd-detect-virt` returning `oracle`)
 `/usr/bin/vbox-guest-installer
