## Copyright (C) 2025 - 2025 ENCRYPTED SUPPORT LLC <adrelanos@whonix.org>
## See the file COPYING for copying conditions.

[Unit]
Description=VirtualBox clipboard sharing for Wayland
StartLimitIntervalSec=10
StartLimitBurst=3
ConditionVirtualization=oracle

[Service]
Type=exec
ExecStart=/usr/bin/VBoxClient --foreground --wayland
Restart=on-failure
RestartSec=2s
