## Copyright (C) 2012 - 2023 ENCRYPTED SUPPORT LP <adrelanos@whonix.org>
## See the file COPYING for copying condtions.

[Unit]
Description=creates group "vboxsf" and adds user "user" to it
Documentation=https://github.com/Kicksecure/vm-config-dist
ConditionVirtualization=oracle

DefaultDependencies=no
Before=sysinit.target
Requires=local-fs.target
After=local-fs.target

[Service]
Type=oneshot
## VirtualBox Guest Additions should create the group and add user,
## but it is being done here to avoid any dependencies.
## TODO: make sure user "user" exists.
ExecStart=/bin/bash -c 'set -x && mkdir --mode 777 --parents /mnt/shared && /usr/sbin/addgroup vboxsf && /usr/sbin/adduser user vboxsf || true'

RemainAfterExit=yes

[Install]
WantedBy=sysinit.target
