## Copyright (C) 2012 - 2025 ENCRYPTED SUPPORT LLC <adrelanos@whonix.org>
## See file COPYING for copying conditons.

[Unit]
Description=Mounts KVM shared folder during start
Documentation=https://github.com/Kicksecure/vm-config-dist
ConditionVirtualization=|qemu
ConditionVirtualization=|kvm

DefaultDependencies=no
Before=sysinit.target
Requires=local-fs.target
After=local-fs.target

[Service]
Type=oneshot
## TODO: https://www.kicksecure.com/wiki/Noexec
ExecStart=/usr/libexec/vm-config-dist/mount-shared kvm
RemainAfterExit=yes

[Install]
WantedBy=sysinit.target
